:root {
  --bg-main: #f6ffb8;   /* amarillo pastel */
  --bg-accent: #b57f66; /* terracota */
  --black: #111111;
  --white: #ffffff;
  --gray: #666;
}

nav a {
  text-decoration: none !important;
  color: inherit !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-main);
  color: var(--black);
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo {
  font-family: 'Playfair Display', serif !important;
  font-size: 24px;
  font-weight: 400;
}

/* NAV LISTA */
nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

/* BOTONES*/
.nav-btn {
  text-decoration: none !important;
  background: var(--black);
  color: var(--bg-main) !important;
  padding: 10px 20px;
  border-radius: 999px;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  display: inline-block;
  transition: 0.3s;
  letter-spacing: 1px;
}

/* HOVER SUTIL */
.nav-btn:hover {
  transform: translateY(-2px);
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  max-width: 800px;
}

.hero p {
  margin-top: 20px;
  letter-spacing: 2px;
  color: var(--gray);
}

/* BOTÓN CV */
button {
  margin-top: 30px;
  background: var(--black);
  color: var(--bg-main);
  border: none;
  padding: 12px 24px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Playfair Display', serif;
}

button:hover {
  transform: translateY(-3px);
}

/* SECCIONES */
section {
  padding: 80px 60px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

/* SKILLS */
.skills-container {
  display: flex;
  gap: 40px;
}

/* PROYECTOS */
#projects {
  background: var(--bg-accent);
  color: var(--white);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--white);
  padding: 30px;
  transition: 0.3s;
}

.card:hover {
  background: var(--white);
  color: var(--black);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

input, textarea {
  padding: 10px;
  border: none;
  outline: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .skills-container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}